@import "./colors.css";

/* ===== CUSTOM BACKGROUNDS ===== */

.bg-custom-red00
{
    background-color: var(--red00);
}

.bg-custom-red01
{
    background-color: var(--red01);
}

.bg-custom-gray00
{
    background-color: var(--gray00);
}

.bg-custom-gray02
{
    background-color: var(--gray02);
}

.bg-custom-success01
{
    background-color: var(--success01);
}