:root {
    --red00: #E40D2C;
    --red01: #8C1A17;
    --red02: #ff798d;
    --red03: #fcc4cc;
    --gray00: #4A4A4A;
    --gray01: #808080;
    --gray02: #D6D6D6;
    --black00: #000000;
    --black01: #2f2f2f;
    --white00: #FFFFFE;
    --success00: #00762E;
    --success01: #018d37;
    --various00: #9E3D45;
    --various01: #EB593B;
    --various02: #785994;
    --various03: #334F5C;
    --various04: #F5A32B    ;
    --various05: #00762E;
}

/* ===== CUSTOM BACKGROUNDS ===== */

.bg-custom-red00
{
    background-color: var(--red00);
}

.bg-custom-red01
{
    background-color: var(--red01);
}

.bg-custom-gray00
{
    background-color: var(--gray00);
}

.bg-custom-gray02
{
    background-color: var(--gray02);
}

.bg-custom-success01
{
    background-color: var(--success01);
}