@import "./colors.css";

/* ===== CUSTOM TEXT COLORS ===== */

.text-custom-black {
    color: var(--gray00);
}

.text-custom-white {
    color: var(--white00);
}

.text-custom-red {
    color: var(--red00);
}

.text-custom-red01 {
    color: var(--red01);
}

.text-custom-blue {
    color: var(--various03);
}

.text-custom-green {
    color: var(--success01);
}

.text-link-custom {
    color: var(--red00);
}

.text-link-custom:hover {
    color: var(--red01);
}


