/* ===== SETUP BASE ===== */

:root {
    --red00: #E40D2C;
    --red01: #8C1A17;
    --red02: #ff798d;
    --red03: #fcc4cc;
    --gray00: #4A4A4A;
    --gray01: #808080;
    --gray02: #D6D6D6;
    --black00: #000000;
    --black01: #2f2f2f;
    --white00: #FFFFFE;
    --success00: #00762E;
    --success01: #018d37;
    --various00: #9E3D45;
    --various01: #EB593B;
    --various02: #785994;
    --various03: #334F5C;
    --various04: #F5A32B    ;
    --various05: #00762E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden-header {
    display: none;
}

/* ===== POSITION RELATIVE FOR THE PEOPLE CIRCLES AT PROJECT CARDS ===== */

.left-less {
    position: relative;
    left: -25%;
    margin: 0 -0.75rem;
}

.main-content {
  margin-left: 0;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 75px;
  }
}

.btn-hover:hover {
  border: 1px solid var(--red00);
  border-radius: 5px;
}

.sidebar-title {
  white-space: nowrap;
  font-size: 1rem;
}

.modal-custom
{
    max-width: 75vw;
}